<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoundIt!</title>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="loading-overlay">
        <div class="spinner"></div>
    </div>

    <div class="upar">
        <a href="/">
            <img src="images/FoundIt! logo.png" alt="">
        </a>
    </div>

    <div class="main-container">
        <div class="flexi">
            <div class="content">
                <p>
                    Welcome to FoundIt!<br><br>
                    Your ultimate solution to recover lost items on the VIT-AP campus. At FoundIt!, we understand how
                    easy it is to misplace
                    something in the hustle and bustle of university life. Whether it's a misplaced notebook in the
                    library, forgotten
                    headphones in the cafeteria, or anything in between, we’re here to help you find what matters most.
                </p>
            </div>
            <div class="loghin">
                <div class="form-structor">

                    <div class="google">
                        <p>Please use your VIT-AP University email to Login</p>
                        <div class="googlebutton">
                            <a href="/auth/google" style="text-decoration: none;">
                                <button class="google-auth">

                                    <i class='bx bxl-google'></i>
                                    <span class="loginauth">Login with Google</span>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="scripts/login.js"></script>
</body>

</html>