<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoundIt!</title>
    <link rel="stylesheet" href="./login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="upar">
        <a href="./login.ejs">
            <img src="./FoundIt! logo.png" alt="">
        </a>
    </div>

    <div class="main-container">
        <div class="flexi">
            <div class="content">
                <p>
                    Welcome to FoundIt!<br><br>
                    Have you misplaced something on the vibrant campus of VIT-AP? Fear not, because FoundIt! is your trusted ally in the
                    search for lost treasures—excluding, of course, your elusive study buddy ;) Whether it's a forgotten notebook left in the
                    library, a missing pair of headphones from the cafeteria, or something entirely unexpected, we're here to assist you in
                    rediscovering what matters most to you. <br><br>Let's turn lost into found, one search at a time!
                </p>
            </div>
            <div class="loghin">
                <div class="form-structor">
                    <div class="signup">
                        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
                        <div class="form-holder">
                            <input type="text" class="input" placeholder="Name" />
                            <input type="email" class="input" placeholder="Email" />
                            <input type="password" class="input" placeholder="Password" />
                        </div>
                        <button class="submit-btn">Sign up</button>
                    </div>
                    <div class="login slide-up">
                        <div class="center">
                            <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                            <div class="form-holder">
                                <input type="email" class="input" placeholder="Email" />
                                <input type="password" class="input" placeholder="Password" />
                            </div>
                            <button class="submit-btn">Log in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./login.js"></script>
</body>

</html>