<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uh-Oh</title>
    <link rel="stylesheet" href="stylesheets/upload.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <script>
            setTimeout(function() {
              window.location.href = '/'
            }, 5000)
          </script>
    <link rel="icon" href="images/billa.png" type="image/png">
</head>

<body>
    <h1>You can only post once in 30 minutes</h1>
    <p>You have exceeded the allowed number of requests. You will be redirected to the main page in 5 seconds.</p>
</body>